@tailwind base;
@tailwind components;
@tailwind utilities;

video::-webkit-media-controls-start-playback-button {
    display: none;
  }
  
  video::-webkit-media-controls-play-button {
    display: none;
  }
  
  video::-webkit-media-controls {
    display:none !important;
    visibility:hidden !important;
  }
  

@layer base {
    .navbar {
        background-color: black;
      }
      
    .headerh1 {
        margin-top: 15rem !important;
        font-weight: 500 !important;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }

    .headerh1home {
        font-weight: 500 !important;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }

    .headerh1chatlect {
        margin-top: 10rem !important;
        font-weight: 500 !important;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }

    .backdrop{
        width: full !important;
    }
}


  